<nav class="fixed top-0 left-0 w-full bg-slate-900 text-gray-200 p-4 shadow-md z-50">
  <div class="container mx-auto flex justify-between items-center">
    <a href="#" class="text-xl md:text-2xl font-semibold hover:text-blue-500 transition-colors"></a>

    <div class="flex space-x-6">
      <a href="#home" class="hover:text-blue-500 transition-colors">Home</a>
      <a href="#features" class="hover:text-blue-500 transition-colors">Features</a>
      <a href="#contacts" class="hover:text-blue-500 transition-colors">Contacts</a>
    </div>
  </div>
</nav>
