<div class="bg-gradient-to-r from-blue-500 to-cyan-500 text-white py-4 px-8 mt-12 mb-[-3rem] md:mb-[-4rem] rounded-tl-full rounded-tr-full shadow-lg relative z-10 mx-auto w-11/12 max-w-4xl text-center animate__animated animate__fadeIn">
    <p class="text-lg font-semibold tracking-wide">
        Ready to contact?
    </p>
</div>
<footer class="bg-gray-950 text-gray-200 p-8 mt-12">
  <div class="container mx-auto flex flex-col md:flex-row justify-between items-center">
    <div class="flex items-center space-x-4 mb-6 md:mb-0">
      <div class="w-16 h-16 rounded-full overflow-hidden border-2 border-gray-600">
        <img src="Me.jpg" alt="Foto de Ricardo Araujo" class="w-full h-full object-cover">
      </div>
      <div>
        <p class="text-xl font-semibold text-white">Ricardo Araujo</p>
        <p class="text-sm text-gray-400">Computer Engineering</p>
      </div>
    </div>

    <!-- <div class="flex flex-col md:flex-row space-y-4 md:space-y-0 md:space-x-8 text-center md:text-left">
      <h3 class="text-lg font-bold text-white mb-2 md:hidden">Fastlinks</h3>
      <a href="#home" class="hover:text-blue-500 transition-colors">Home</a>
      <a href="#features" class="hover:text-blue-500 transition-colors">Features</a>
      <a href="#contacts" class="hover:text-blue-500 transition-colors">Contacts</a>
    </div> -->
  </div>
</footer>
